<!DOCTYPE html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44188253-2', 'auto');
  ga('send', 'pageview');

function showhide(id) {
           var e = document.getElementById(id);
           e.style.display = (e.style.display == 'block') ? 'none' : 'block';
     }

</script>
	<html>
		<head>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NR6LK4S');</script>
<!-- End Google Tag Manager -->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44188253-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-44188253-2');
</script>

		</head>
		<body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR6LK4S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
			<table>
			<tr> 
				<td> <img src='images/me.png' /> </td> 
				<td> <font size="+2"> Rajiv Khanna </font> <br> 
                     Email: [first name]a@purdue.edu <br>
					 <a href="https://scholar.google.com/citations?user=523w4w8AAAAJ&hl=en">Google Scholar</a> <br> 
					 <a href="http://www.informatik.uni-trier.de/~ley/pers/ht/k/Khanna:Rajiv.html">DBLP</a>  
                     <a href="/cv.pdf">CV</a>
				</td> 
			</tr>
			</table>		
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="pubs.html">Publications</a></li>
		        	<li><a href="workex.html">Work Experience</a></li>
	        		<li><a href="teaching.html">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
